@mixin icon($item_id, $path, $color: white) {
    .side-2ur1Qk > .item-3XjbnG[data-item-id="#{$item-id}"]:not(.role-3pGE29)::before {
        --icon: #{svg($path)};

        @if ($color != white) {
            --settings-icon-color: #{$color};
        }
    };
}

@mixin icon_alt($item_id, $path) {
    .side-2ur1Qk > .item-3XjbnG[data-item-id="#{$item-id}"][style*="color: rgb(255, 255, 255)"]::before {
        --icon: #{svg($path)};
        --settings-icon-color: --settings-alt-focused;
    }
}

@mixin icon_png($item_id, $path) {
    .side-2ur1Qk > .item-3XjbnG[data-item-id="#{$item-id}"]:not(.role-3pGE29)::before {
        --icon: #{url($path)};
    };
}
